<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/snapshot.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          var source = $("#source");

          source.on("snapshot.oninit", function (e, options) { console.log("snapshot.oninit", options) });
          source.on("snapshot.onerror", function (e, jqxhr, status, error) { console.log("snapshot.onerror", jqxhr, status, error) });
          source.on("snapshot.onsuccess", function (e, data, status, jqxhr) { console.log("snapshot.onsuccess", data, status, jqxhr) });

          source.snapshot({
              "button": $("#link"),
              "url": "http://remotehost.com:5000/save/"
          });
      });
    </script>
  </head>
  <body>
    <!--<img id="source" crossorigin="anonymous" src="http://movie.localhost.com:5000/picture.jpg">-->
    <video id="source" crossorigin="anonymous" controls src="http://movie.localhost.com:8080/copla/static/movie.webm"></video>
    <div><a id="link" href="#">capture</a></div>
  </body>
</html>
